extends layout

block content
    div.form
        form(action="/secret", method="POST")
            h1.heading Join the Club
            label(for="username") Enter Secret Key:
            input(type="text", id="secret", name="secret" placeholder="This code can be fund on your invitation email.")
            button(type="submit") Join
