@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}
* {
  margin:0;
  padding:0;
}

body {
  font-family: "system-ui";
  background-color: #161515;
}

li {
  list-style-type: none;
}

a, p {
  text-decoration: none;
  color: aquamarine;
}

a:visited {
  color: aquamarine
}

a:hover {
  color: rgb(190, 255, 233);
  text-shadow: rgb(190, 255, 233) 0px 0px 1px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #222121;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
ul li {
  margin-left: 30px;
  font-weight: 600;
  color: aquamarine;
}

.title {
  font-size: 1.5em;
  font-weight: 600;
  color: rgb(187, 209, 201);
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items at the start */
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Align items at the start */
  justify-content: space-between;
  padding: 0;
  margin: 0;

}

button, .button {
  margin-top: 20px;
  padding: 10px 50px 10px 50px;
  border-radius: 5px;
  border: none;
  background-color: #433f3f;
  color: aquamarine;
  font-weight: 600;
  cursor: pointer;
  align-self: center;
}

button:hover, .button:hover {
  background-color: aquamarine;
  color: #433f3f;
}

.heading {
  font-size: 2em;
  font-weight: 600;
  color: aquamarine;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 15px;
  border-bottom: aquamarine 1px solid;
  align-self: center;
}

label {
  font-size: 1em;
  font-weight: 300;
  color: aquamarine;
  margin-top: 20px;
  padding-bottom: 15px;
}

input, textarea {
  padding: 6px;
  border-radius: 5px;
  border: none;
  background-color: #433f3f;
  color: aquamarine;
  font-weight: 300;
  border: rgba(255, 255, 255, 0.67) 1px solid;
  min-width: 300px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0; /* Set the left position to 0 */
  right: 0; /* Set the right position to 0 */
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  background-color: #222121;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer p {
  font-size: 0.8em;
  font-weight: 300;
  color: aquamarine;
}

footer img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.message-container{
  display: flex;
  flex-direction: column;
  align-items: center; /* Align items at the start */
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.message-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  background-color: #222121;
  color: aquamarine;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  min-width: 400px;
  border: rgba(255, 255, 255, 0.67) 1px solid;

}

.message-card p {
  font-size: 1em;
  font-weight: 300;
  color: aquamarine;
  margin-top: 20px;
  padding-bottom: 15px;
  align-self: center;
}

.message-card h2 {
  font-size: 1.8em;
  font-weight: 600;
  color: aquamarine;
  padding-bottom: 15px;
  align-self: center;
  border-bottom: aquamarine 1px solid;
}

.message-details {
align-self:flex-start;
flex-direction: column;
flex-grow: 1;
}

.message-card p.text {
  font-size: 1em;
  font-weight: 300;
  color: aquamarine;
  margin-top: 20px;
  padding-bottom: 15px;
  align-self: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-all;
  hyphens: auto;
}
